$alliance: blue;
$horde: brown;
$elves: purple;
$undead: green;
$heaven: orange;
$hell: red;

@import "asset/scss/_heroes-images.scss";
@import "asset/scss/_keys.scss";
@import "asset/scss/_miracle-eyes.scss";
@import "asset/scss/_wheel.scss";