.me-simulator {
  .fa-star {
    &:before {
      color: orange;
    }
  }

  .reward {
    text-align: center;
    font-size: 10px;
    padding: 3em;
  }

  .counter,
  .happy,
  .heroes {
    .alliance {
      color: blue;
    }
    .horde {
      color: brown;
    }
    .elves {
      color: purple;
    }
    .undead {
      color: green;
    }
    .heaven {
      color: orange;
    }
    .hell {
      color: red;
    }
  }
  .switches-wrapper {
    text-align: center;
    .switches {
      background-color: lightblue;
      display: inline-block;
      span {
        padding: 1em;
        margin: 0;
        display: inline-block;
        cursor: pointer;
        &:first-child {
          padding: 1em 1.1em;
        }
        &.active {
          background-color: blue;
          color: white;
        }
      }
    }
  }

  .factions {
    text-align: center;
    > button {
      cursor: pointer;
      padding: 1em;
      display: inline-block;
      &.alliance {
        color: blue;
      }
      &.horde {
        color: brown;
      }
      &.elves {
        color: purple;
      }
      &.undead {
        color: green;
      }
      &.heaven-hell {
        color: red;
      }
    }
  }

  .totals {
    max-width: 850px;
    margin: 0 auto;

    h5 {
      text-align: center;
    }

    > div {
      font-weight: normal;
      span.counter {
        font-weight: bold;
        font-size: 24px;
      }
    }

    div.counter {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .counter-wrapper {
    padding: 0.5em 0;
    >div {
      padding: 0 0 0.8em 0;
      >strong {
        display: inline-block;
        padding-bottom: 0.5em;
      }
    }
  }

  .shard-counters {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    >div {
      display: inline-block;
      max-width: 10%;
      vertical-align: top;
      text-align: center;
      &:before {
        content: '';
        width: 40px;
        height: 40px;
        margin: 0 auto;
        background-size: cover;
        display: block;
        margin-right: 0.5em;
      }
    }
    >div.alliance {
      &:before {
        background-image: url('asset/images/alliance-four-shard.png');
      }
    }
    >div.horde {
      &:before {
        background-image: url('asset/images/horde-four-shard.png');
      }
    }
    >div.elves {
      &:before {
        background-image: url('asset/images/elves-four-shard.png');
      }
    }
    >div.undead {
      &:before {
        background-image: url('asset/images/undead-four-shard.png');
      }
    }
    >div.heaven {
      &:before {
        background-image: url('asset/images/heaven-four-shard.png');
      }
    }
    >div.hell {
      &:before {
        background-image: url('asset/images/hell-four-shard.png');
      }
    }
    >div.five-star-shards {
      &:before {
        background-image: url('asset/images/five-shard.png');
      }
    }
    div.convert-shards {
      &:before {
        background-image: url(asset/images/convert-shards.png);
      }
    }
  }
}